@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Black Jack Counter!</h1>

<p>Click the black jack on the sidebar to play black jack you start with 10,000 credits see how well you can do.</p>

<p>The Black Jack AI will play blackjack optimally plus count cards and play with odds. Feel free to run it one at a time or run 10,000 sims.</p>

<p> All black jack games are dealt with 6 decks, and reshuffled with 130 or less cards remaining.</p>